@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English&family=Lato&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../images/background2.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
:root {
  --box-size: 200px;
  --mark: calc(var(--box-size) * 0.9);
}

/* style the header h1 */
h1 {
  text-align: center;
  font-size: 50px;
  font-family: "IM Fell English", sans-serif;
  color: #fff;
  text-shadow: 2px 2px #051923;
  background-color: rgba(0, 181, 54, 0.5);
}

/* style the container */
.container {
  padding: 40px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* style the game board */

#game-board {
  background-color: #f1e9da;
  margin: auto;
  width: 600px;
  height: 600px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 5px 5px 5px black;
}
/* style the cells */
.cells {
  height: var(--box-size);
  width: var(--box-size);
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 5px solid;
  border-bottom: 5px solid;
  position: relative;
  cursor: pointer;
}
.cells:nth-child(3n) {
  border-right: none;
}
.cells:nth-child(n + 7) {
  border-bottom: none;
}
.cells.x::before,
.cells.x::after {
  content: "";
  width: calc(var(--mark) * 0.15);
  height: var(--mark);
  position: absolute;
  background-color: #777da7;
}
.cells.x::before {
  transform: rotate(45deg);
}
.cells.x::after {
  transform: rotate(-45deg);
}
.cells.o::before,
.cells.o::after {
  content: "";
  border-radius: 50%;
  position: absolute;
}
.cells.o::before {
  width: var(--mark);
  height: var(--mark);
  background-color: #777da7;
}
.cells.o::after {
  width: calc(var(--mark) * 0.7);
  height: calc(var(--mark) * 0.7);
  background-color: #f1e9da;
}
.cells.x,
.cells.o {
  cursor: not-allowed;
}

/* style the button */
button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #7f535d;
  color: #f1e9da;
  border-color: #d3b57b;
  font-size: 18px;
  transition: 200ms transform;
  font-weight: 600;
}
button:hover {
  cursor: pointer;
  background-color: #f1e9da;
  color: #7f535d;
  transform: translateY(-2px);
}
/* Change mark color for winning cells */
#game-board .cells.win-x::before,
#game-board .cells.win-x::after {
  background-color: #d3b47b;
}
#game-board .cells.win-o::before {
  background-color: #d3b47b;
}
#game-board .cells.win-o::after {
  width: calc(var(--mark) * 0.7);
  height: calc(var(--mark) * 0.7);
  background-color: #f1e9da;
}
/* to make the game responsive to screens below 768px */
@media screen and (max-width: 768px) {
  :root {
    --box-size: 150px;
    --mark: calc(var(--box-size) * 0.8);
  }
  .container {
    padding: 20px;
  }
  #game-board {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cells {
    height: calc(var(--box-size) * 0.89);
    width: calc(var(--box-size) * 0.88);
    border-right: 3px solid;
    border-bottom: 3px solid;
  }
}
/* to make the game responsive to screens below 480px */
@media screen and (max-width: 480px) {
  :root {
    --box-size: 120px;
    --mark: calc(var(--box-size) * 0.7);
  }
  h1 {
    font-size: 40px;
  }
  .container {
    padding: 10px;
  }
  #game-board {
    width: 300px;
    height: 300px;
  }
  .cells {
    height: calc(var(--box-size) * 0.84);
    width: calc(var(--box-size) * 0.83);
  }
}

/* Styling for winner modal */
.modal-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #f1e9da;
  background-clip: padding-box;
  border-radius: 0.3rem;
  outline: 0;
}
.modal-content .modal-header {
  padding: 0;
  border: none;
  height: 230px;
  position: relative;
  z-index: 0;
}
.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.modal-content button.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  z-index: 1;
  color: #fff;
}
.modal-content .modal-body {
  border: none;
  overflow: hidden;
  margin-top: -180px;
  z-index: 2;
}
.text-center {
  text-align: center !important;
}
.modal-content .modal-body h2 {
  font-weight: 700;
  color: #fff;
}
.modal-content .modal-body .icon {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  font-size: 30px;
  margin: 0 auto;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.2);
}

